<% layout('layouts/boilerplate.ejs') %>
   <section class="coming-soon">
      <article>
         <h2>Coming Summer 2022</h2>
         <h4>reserve your spot now:</h4>
         <a href="https://venmo.com/?txn=pay&audience=friends&recipients=Michael-Papapetrou&note=tennis%20camp"
            target="_blank">pay
            now</a>
   </section>