<% layout('layouts/boilerplate.ejs') %>
   <section class="contact">
      <h2>Michael Papapetrou</h2>
      <article>
         <h4>Phone: </h4>
         <a href="tel:2014036388">201-403-6388</a>
      </article>
      <article>
         <h4>Email: </h4>
         <a href="mailto:halloffamesportsllc@gmail.com">halloffamesportsllc@gmail.com</a>
      </article>
      <article>
         <h4>Venmo: </h4>
         <a href="https://venmo.com/?txn=pay&audience=friends&recipients=Michael-Papapetrou&note=tennis%20camp"
            target="_blank">pay
            now</a>
      </article>
   </section>