<% layout('layouts/boilerplate.ejs') %>
   <section class="home">
      <a href="/form">
         <h5>Sign Up for Tennis Camp</h5>
      </a>
      <img class="banner-image" src="/images/allsports.jpg" alt="">
   </section>