<% layout('layouts/boilerplate.ejs') %>
   <section class="pricing">
      <article>
         <h2>Tennis Camp: </h2>
         <h4>$30/session</h4>
         <h2>Private Lessons: </h2>
         <h4>$60/hour per person or $70/hour for two people together</h4>
      </article>
      <a href="https://venmo.com/?txn=pay&audience=friends&recipients=Michael-Papapetrou&note=tennis%20camp"
         target="_blank">pay
         now</a>
   </section>