<% layout('layouts/boilerplate.ejs') %>
   <section class="pros">
      <h2>Michael Papapetrou</h2>
      <h4>Head Trainer</h4>
      <h2>Bill Papa</h2>
      <h4>Assistant Trainer</h4>
      <h2>Kevin Delapena</h2>
      <h4>Assistant Trainer</h4>
   </section>