<% layout('layouts/boilerplate.ejs') %>
   <section class="new-camper">
      <article>
         <h2>Welcome New Camper!</h2>
         <h4>please follow the venmo link for payment to complete your registration:</h4>
         <a href="https://venmo.com/?txn=pay&audience=friends&recipients=Michael-Papapetrou&note=tennis%20camp"
            target="_blank">pay
            now</a>
   </section>